body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;

    margin: 0;
}

.donation {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)), url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lets-help {


    color: whitesmoke;
    text-align: center;
}

h1 {
    font-size: 60px;

}

h3 {
    font-weight: 50;


}

.donation-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 38, 52), rgb(220, 20, 20));
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 700;

}

.creat-margine {
    margin-top: 10%;

}

.donate-today {
    text-align: center;
}

.size-correction {
    font-size: 50px;
}

.light-color {
    color: gray;
}

#five-subdiv {
    display: flex;
    margin-left: 30%;
    margin-top: 40px;

}

.tk-amounts {
    height: 50px;
    width: 100px;

    padding: 10px 10px;
    text-align: center;
    margin: 10px 10px;
    font-weight: 700;

}

#amount-tk1 {

    background-color: rgb(245, 244, 244);

}

#amount-tk3 {
    background-color: rgb(245, 244, 244);
}

#amount-tk4 {
    background-color: rgb(245, 244, 244);
}

#amount-tk5 {
    background-color: rgb(245, 244, 244);
}

#red-amount-tk {
    background-color: rgb(255, 215, 215);
    border: 3px solid crimson;

}

hr {
    align-self: center;
    width: 50%;
}

.incresing-fontweight {
    font-weight: 700;
}

.creat-box {
    height: 250px;
    width: 400px;
    border-radius: 5px;

    padding: 50px 20px;
    text-align: left;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
}

#shelter {
    background-color: rgb(255, 237, 240);
}

#food {
    background-color: rgb(221, 254, 243);
}

#education {
    background-color: rgb(251, 235, 204);
}

#donation-plans {
    display: flex;
    margin: 3% 10%;
}