body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;

    margin: 0;
}

.donation {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)), url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lets-help {
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-size: 60px;

}

h3 {
    font-weight: 50;


}

.donation-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 38, 52), rgb(220, 20, 20));
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 700;

}

.creat-margine {
    margin-top: 10%;

}

.donate-today {
    text-align: center;
}

.size-correction {
    font-size: 50px;
}

.light-color {
    color: gray;
}

.five-subdiv {
    display: flex;
    margin-left: 30%;
    margin-top: 40px;

}

.tk-amounts {
    height: 50px;
    width: 100px;

    padding: 10px 10px;
    text-align: center;
    margin: 10px 10px;
    font-weight: 700;

}

#amount-tk1 {

    background-color: rgb(245, 244, 244);

}

#amount-tk3 {
    background-color: rgb(245, 244, 244);
}

#amount-tk4 {
    background-color: rgb(245, 244, 244);
}

#amount-tk5 {
    background-color: rgb(245, 244, 244);
}

#red-amount-tk {
    background-color: rgb(255, 215, 215);
    border: 3px solid crimson;

}

hr {
    align-self: center;
    width: 50%;
}

.incresing-fontweight {
    font-weight: 700;
}

.creat-box {
    height: 200px;
    width: 400px;
    border-radius: 5px;

    padding: 50px 20px;
    text-align: left;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
}

#shelter {
    background-color: rgb(255, 237, 240);
}

#food {
    background-color: rgb(221, 254, 243);
}

#education {
    background-color: rgb(251, 235, 204);
}

#donation-plans {
    display: flex;
    margin: 3% 10%;
}

.flixiable-container {
    display: flex;
    margin-left: 8%;
    margin-right: 10%;
}

.half-width {
    width: 100%;

    padding-left: 2%;
    margin-top: 10%;


}

.half-width img {
    width: 100%;




}

#contribute-button {
    background-image: linear-gradient(rgb(236, 38, 52), rgb(220, 20, 20));
    text-decoration: none;
    color: white;
    padding: 8px 8px;
    margin-top: 20px;
    border-radius: 4px;
    font-weight: 600;
}



.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: rgb(250, 239, 221);
    width: 1100px;
}

.form-box {
    display: flex;
}

.form-box input {

    padding: 15px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background: rgb(219, 219, 219);

}

.form-box button {
    padding: 15px 20px;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    background-color: rgb(248, 46, 77);
    border: none;

}

.email-subscribe {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

#add-footer {
    text-align: center;
    background-color: black;
    height: 150px;
    width: 100%;
    background-size: cover;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: myfirstfont;
    src: url(Lobster-Regular.ttf);
}





#design-text {
    font-family: myfirstfont;
    font-weight: 800;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    color: rgb(251, 34, 77);
}